{% extends 'base_detail.html' %}
{% block content %}
<h1>{ model|capfirst } Detail</h1>
<p>Id: {{ item.id }}</p>
<p>Center_name: {{ item.center_name }}</p>
<p>Address: {{ item.address }}</p>
<p>Contact_number: {{ item.contact_number }}</p>
<p>Email: {{ item.email }}</p>
<p>Registration_number: {{ item.registration_number }}</p>
<p>Established_date: {{ item.established_date }}</p>
<p>Head_of_center: {{ item.head_of_center }}</p>
<p>Total_capacity: {{ item.total_capacity }}</p>
<p>Specialization: {{ item.specialization }}</p>
<p>Contact_person: {{ item.contact_person }}</p>
<p>Business_reg_no: {{ item.business_reg_no }}</p>
<p>Business_reg_copy: {{ item.business_reg_copy }}</p>
<p>Tvec_reg_copy: {{ item.tvec_reg_copy }}</p>
{% endblock %}
