{% extends 'base.html' %}

{% block title %}
Signup
{% endblock %}

{% block content %}
<div class="card">
  <h5 class="card-header"> Create an Account</h5>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">  <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Sign Up</button>
    </form></p>
   
    <div class="options">
                <a href="{% url 'home' %}">Home</a>
               <p>Already have an account? </p> <a href="{% url 'login' %}" class="btn btn-primary">Log In</a>
          
            </div>
  </div>
</div>
   
  
    
{% endblock %}

