{% if user.is_authenticated %}


        <!-- Sidebar -->
        <nav class="col-auto bg-dark text-white position-fixed p-3 shadow-sm" style="height: 80vh; width: 220px;">
            <!-- Sidebar Header -->
            <div class="text-center mb-3">
                <h4 class="fw-bold">Main Panel</h4>
            </div>

            <!-- Navigation Links -->
            <ul class="nav flex-column">
              
                <li class="nav-item mb-2">
                   
                    <a href="{% url 'dashboard_redirect' %}" class="nav-link text-white d-flex align-items-center">
                        <i class="bi bi-speedometer2 me-2"></i> Dashboard
                    </a>
                </li>
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link text-white d-flex align-items-center">
                        <i class="bi bi-box-seam me-2"></i> Course Plans
                    </a>
                </li>
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link text-white d-flex align-items-center">
                        <i class="bi bi-cart me-2"></i> Lesson Plans
                    </a>
                </li>
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link text-white d-flex align-items-center">
                        <i class="bi bi-people-fill me-2"></i> Weekly Time Table 
                    </a>
                </li>
                  <li class="nav-item mb-2">
                    <a href="#" class="nav-link text-white d-flex align-items-center">
                        <i class="bi bi-people-fill me-2"></i> Weekly Time Table 
                    </a>
                </li>
            </ul>

            <!-- Footer Links -->
            
        </nav>

       



{% endif %}
