{% extends 'base_detail.html' %}
{% block content %}
<h1>{{ model|capfirst }} Detail</h1>
<p>Id: {{ item.id }}</p>
<p>Course_name: {{ item.course_name }}</p>
<p>Course_code: {{ item.course_code }}</p>
<p>Entry_qualification: {{ item.entry_qualification }}</p>
<p>Medium: {{ item.medium }}</p>
<p>Course_duration_months: {{ item.course_duration_months }}</p>
<p>Delivery_mode: {{ item.delivery_mode }}</p>
<p>Course_mode: {{ item.course_mode }}</p>
<p>Curriculum_availability: {{ item.curriculum_availability }}</p>
<p>No_of_batches_per_year: {{ item.no_of_batches_per_year }}</p>
<p>Max_students_per_batch: {{ item.max_students_per_batch }}</p>
<p>Course_fee: {{ item.course_fee }}</p>
<p>Course_cost: {{ item.course_cost }}</p>
<p>Is_active: {{ item.is_active }}</p>
<p>Created_at: {{ item.created_at }}</p>
<p>Updated_at: {{ item.updated_at }}</p>
<p>Theory_hrs: {{ item.theory_hrs }}</p>
<p>Practical_hrs: {{ item.practical_hrs }}</p>
{% endblock %}
