{% extends 'base_list.html' %}
{% block content %}
<a href="{% url 'courses:session_create' %}" class="btn btn-sm btn-success mb-3">Add New</a>
<h1>{{ model|capfirst }} List</h1>
<table class='table'>
  <thead>
    <tr>
      <th>id</th>
      <th>session_code</th>
      <th>session_type</th>
      <th>session_minutes</th>
      <th>session_cost</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for item in items %}
    <tr>
      <td>{{ item.id }}</td>
      <td>{{ item.session_code }}</td>
      <td>{{ item.session_type }}</td>
      <td>{{ item.session_minutes }}</td>
      <td>{{ item.session_cost }}</td>
      <td>
        <a href="{% url 'courses:session_detail' pk=item.pk %}">View</a>
        <a href="{% url 'courses:session_update' pk=item.pk %}">Edit</a>
        <a href="{% url 'courses:session_delete' pk=item.pk %}">Delete</a>
      </td>
    </tr>
    {% empty %}
    <tr><td colspan='{{ column_count }}'>No { model|lower } found.</td></tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
