{% extends 'base_detail.html' %}
{% block content %}
<h1>{ model|capfirst } Detail</h1>
<p>Id: {{ item.id }}</p>
<p>Module: {{ item.module }}</p>
<p>Task_name: {{ item.task_name }}</p>
<p>Task_code: {{ item.task_code }}</p>
<p>Theory_hours: {{ item.theory_hours }}</p>
<p>Practical_hours: {{ item.practical_hours }}</p>
<p>Task_cost: {{ item.task_cost }}</p>
<p>Created_at: {{ item.created_at }}</p>
<p>Updated_at: {{ item.updated_at }}</p>
<p>Task_duration_days: {{ item.task_duration_days }}</p>
{% endblock %}
