{% extends 'base_list.html' %}
{% block content %}
<div class="container mt-4">
    <div class="card shadow">
        <div class="card-header bg-secondary text-white d-flex justify-content-between align-items-center">
            <h5 class="mb-0">Exercises for Activity: {{ activity.name }}</h5>
            <div class="d-flex align-items-center">
                <!-- Add New Button -->
                <a href="{% url 'activities:exercise_create' %}" class="btn btn-sm btn-primary">
                    <i class="bi bi-plus-circle"></i> Add New
                </a>
            </div>
        </div>
        <div class="card-body">
            <p>{{ activity.description }}</p>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="text-center">ID</th>
                        <th class="text-center">Activity</th>
                        <th class="text-center">Title</th>
                        
                        <th class="text-center">Difficulty Level</th>
                        <th class="text-center">Max Score</th>
                       
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in exercises %}
                    <tr>
                        <td class="text-center">{{ item.id }}</td>
                        <td class="text-center">{{ item.activity.activity_name }}</td>
                        <td class="text-center">{{ item.title }}</td>
                      
                        <td class="text-center">{{ item.difficulty_level }}</td>
                        <td class="text-center">{{ item.max_score }}</td>
                       
                        <td class="text-center">
                            <div class="btn-group" role="group" aria-label="Exercise Actions">
                                 <a href="{% url 'activities:exercise_detail_quesions' exid=item.id %}" class="btn btn-sm btn-success text-white">
                                    <i class="bi bi-eye"></i>Quesions
                                </a>
                                <a href="{% url 'activities:exercise_detail' pk=item.pk %}" class="btn btn-sm btn-info text-white">
                                    <i class="bi bi-eye"></i>
                                </a>
                                <a href="{% url 'activities:exercise_update' pk=item.pk %}" class="btn btn-sm btn-warning text-white">
                                    <i class="bi bi-pencil"></i>
                                </a>
                                <a href="{% url 'activities:exercise_delete' pk=item.pk %}" class="btn btn-sm btn-danger">
                                    <i class="bi bi-trash"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="8" class="text-center">No exercises found for this activity.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
