{% extends 'base_list.html' %}
{% block content %}
<a href="{% url 'activities:choice_create' %}" class="btn btn-sm btn-success mb-3">Add New</a>
<h1>{{ model|capfirst }} List</h1>
<table class='table'>
  <thead>
    <tr>
      <th>id</th>
      <th>question</th>
      <th>text</th>
      <th>is_correct</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for item in items %}
    <tr>
      <td>{{ item.id }}</td>
      <td>{{ item.question }}</td>
      <td>{{ item.text }}</td>
      <td>{{ item.is_correct }}</td>
      <td>
        <a href="{% url 'activities:choice_detail' pk=item.pk %}">View</a>
        <a href="{% url 'activities:choice_update' pk=item.pk %}">Edit</a>
        <a href="{% url 'activities:choice_delete' pk=item.pk %}">Delete</a>
      </td>
    </tr>
    {% empty %}
    <tr><td colspan='{{ column_count }}'>No { model|lower } found.</td></tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
