{% extends 'base_list.html' %}
{% block content %}
<a href="{% url 'activities:question_create' %}" class="btn btn-sm btn-success mb-3">Add New</a>
<h1>{{ model|capfirst }} List</h1>
<table class='table'>
  <thead>
    <tr>
      <th>id</th>
      <th>exercise</th>
      <th>text</th>
      <th>weighting</th>
      <th>tutorial_url</th>
      <th>video_url</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for item in items %}
    <tr>
      <td>{{ item.id }}</td>
      <td>{{ item.exercise }}</td>
      <td>{{ item.text }}</td>
      <td>{{ item.weighting }}</td>
      <td>{{ item.tutorial_url }}</td>
      <td>{{ item.video_url }}</td>
      <td>
        <a href="{% url 'activities:question_detail' pk=item.pk %}">View</a>
        <a href="{% url 'activities:question_update' pk=item.pk %}">Edit</a>
        <a href="{% url 'activities:question_delete' pk=item.pk %}">Delete</a>
      </td>
    </tr>
    {% empty %}
    <tr><td colspan='{{ column_count }}'>No { model|lower } found.</td></tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
