{% extends 'base_list.html' %}
{% block content %}
<a href="{% url 'activities:quiz_create' %}" class="btn btn-sm btn-success mb-3">Add New</a>
<h1>{{ model|capfirst }} List</h1>
<table class='table'>
  <thead>
    <tr>
      <th>id</th>
      <th>activity</th>
      <th>title</th>
      <th>description</th>
      <th>created_at</th>
      <th>max_score</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for item in items %}
    <tr>
      <td>{{ item.id }}</td>
      <td>{{ item.activity }}</td>
      <td>{{ item.title }}</td>
      <td>{{ item.description }}</td>
      <td>{{ item.created_at }}</td>
      <td>{{ item.max_score }}</td>
      <td>
        <a href="{% url 'activities:quiz_detail' pk=item.pk %}">View</a>
        <a href="{% url 'activities:quiz_update' pk=item.pk %}">Edit</a>
        <a href="{% url 'activities:quiz_delete' pk=item.pk %}">Delete</a>
      </td>
    </tr>
    {% empty %}
    <tr><td colspan='{{ column_count }}'>No { model|lower } found.</td></tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
