{% extends 'base_detail.html' %}
{% block content %}
<h1>{ model|capfirst } Detail</h1>
<p>Id: {{ item.id }}</p>
<p>User: {{ item.user }}</p>
<p>Exercise: {{ item.exercise }}</p>
<p>Submitted_file: {{ item.submitted_file }}</p>
<p>Self_efficacy_score: {{ item.self_efficacy_score }}</p>
<p>Score: {{ item.score }}</p>
<p>Feedback: {{ item.feedback }}</p>
<p>Grading_rubric: {{ item.grading_rubric }}</p>
<p>Graded_by: {{ item.graded_by }}</p>
<p>Submitted_at: {{ item.submitted_at }}</p>
<p>Start_time: {{ item.start_time }}</p>
<p>End_time: {{ item.end_time }}</p>
<p>Duration: {{ item.duration }}</p>
<p>Exercise_is_completed: {{ item.exercise_is_completed }}</p>
<p>Is_ontime_completed: {{ item.is_ontime_completed }}</p>
{% endblock %}
